
/* General stuff about the body and text */
body { 
	background-color: black ;  
	font-size: 18px ;
	color: #000000 ;
}
p {
	font-family:  Helvetica, verdana ; 
	font-size: 0.9em ;
	font-weight: lighter ;
}

/* Settings for the navigation bar */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    width: 100%;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:  Helvetica, verdana ; 
    font-weight: lighter ;
    font-size: 18px ;
}

li.nav a:hover:not(.active) {
    background-color: #111;
}

.nav-active {
    background-color: #4CAF50;
}

/* A wrapper that makes a white page in the middle,
   sets a size, and makes the margin auto on the sides,
   so that the page has variable width, but the
   information doesn't. */

#mainwrap {
    width: 850px ;
	margin: auto ;
	padding: 10px 20px 10px 20px;
	background: black ;
}

img.headTop {
	width: 700px ;
    height: auto ;
}

img.sideBarPicture {
	width: 200px ;
	height: auto; 
}

#rightContent {
    width: 240px ;
    float: left ;
    background: #ffffff ;
    padding: 20px;
}

h2.jtkHeader {
	font-family: Arial ;
    font-size: 1.2em;
    font-weight: normal;
    color: white;
}

h3.jtkHeader {
	font-family: Arial ;
    font-size: 1.2em;
    font-weight: normal;
    color: white;
}

#jtkNavContainer ul { list-style-type: none; }
#jtkNavContainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#jtkNavContainer ul li { display: inline; }

#jtkNavContainer ul li a {
  	text-decoration: none;
   	padding: .2em 1em;
}

a.jtkNav {
	font-family: Arial;
	color: yellow ;
}

p.jtkText {
	color: white;
}

ul.jtkList {
	list-style-type: none; 
	text-indent: 0px;
	padding-left: 10px;
}

li.jtkList {
	list-style-type: none ; 
	font-size: 0.9em;
	text-indent: 0px;
	padding-left: 0px;
	font-family: Helvetica, Arial, verdana ;
	font-weight: lighter ;
	padding-bottom: 10px;
	color: white;
}

/* unvisited link */
li.jtkList a:link {
    color: yellow;
}

/* visited link */
li.jtkList a:visited {
    color: red;
}

/* mouse over link */
li.jtkList a:hover {
    color: hotpink;
}

/* selected link */
li.jtkList a:active {
    color: blue;
}

h2.sideBarHead {
    font-family: Arial ;
    font-size: 1em;
    font-weight: normal;
}

h3.sideBarHead {
	font-family: Arial ;
	line-height: 0.95 em;
	font-size: 0.95em ;
	font-weight: normal ;
}

#leftContent {
	margin-left: auto; 
	margin-right: auto;
    width: 700px ;
    float: bottom ;
    background: black ;
    padding-right: 20px ;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

HR.hLine {
	width: 75%;
}

ul.contactList {
	list-style-type: none ;
	font-family: Arial, verdana;
	font-size: 1em;
	text-indent: 0px;
	padding-left: 0px;
	color: white;
}

ul.advisorList {
	list-style-type: none ;
	font-size: 0.95em;
	text-indent: 0px;
	padding-left: 0px;
	font-family:  Arial, verdana ;
	font-weight: lighter ;
}

li.advisorListContent {
	font-size: 0.9em;
	text-indent: 0px;
}

p.sideBar {
	font-size: 0.9em;
}

p.sectionHead {
    font-family: Futura, Arial, verdana;
    font-size: 1.5em;
}

p.posterText {
    font-size: 0.9em;
    padding: 0px 10px 0px 10px ;
}

linkLogo {
    border: 0 ;
    width: 200px ;
    height: 200px ;
}

img.videoThumb {
	width: auto ;
	height: 80px ;
}

video.multimVideo {
    width: 500px ;
    height: auto ;
}

p.refText {
	font-family: Helvetica, Arial, verdana ;
	font-size: 1em ;
	font-weight: lighter;
}

#footContent {
    float: none;
    clear: both;
    text-align: center ;
}

p.footerText {
	font-size: 0.8em ;
}
